
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
:root{
    --primary-color:#a855f7;
    --primary-color-dark:#9333ea;
    --secondary-color:#ca8a04;
    --text-dark:#1f2937;
    --text-light:#6b7280;
    --extra-light:#faf5ff;
    --max-width:1200px;
    
}
body{
    /* font-family: 'poppins',sans-serif; */
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
}
nav{
    width:100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index:60;
}

.nav-content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
    text-decoration: none;


}
nav .logo a:hover{
    color: var(--primary-color-dark);
}
nav .checkbox{
    display: none;
}

nav input{
  display: none;
}

nav .checkbox i{
    font-size:2rem;
    color:var(--primary-color);
    cursor: pointer;
}
ul{
    display: flex;
    align-items:center ;
    gap: 1rem;
    list-style: none;
    transition: left 0.3sec;

}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
    font-size: 18px;

}
ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color:var(--secondary-color) ;
    color: var(--secondary-color);
}
.section{
    background-color: var(--extra-light);

}
.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 2rem;
}
.title span{
    font-weight: 600;

}

.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 0.2rem;
}
.action_btns{
display: flex;
gap: 1rem;
}
.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.hire_me{
    background-color: var(--primary-color);
    color: #ffffff;

}
.hire_me:hover{
    background-color: var(--primary-color-dark);

}
.portfoilo{
    color: var(--primary-color);

}
.portfoilo:hover{
    background-color: var(--primary-color-dark);
    color: #ffffff;

}
.image{
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    
}
.image img{
    width: min(25rem,70%);
    border-radius: 20%;
}
/*  */
.overlay-section {
    position: relative;
    background-image: url('./images/WhatsApp\ Image\ 2024-03-20\ at\ 7.14.06\ PM\ \(1\).jpeg'); /* Change the image path accordingly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Text color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 1;
}

.overlay-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}
/*  */
.contents h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: "Roboto Serif", serif;
  /* font-optical-sizing: auto; */
  font-weight: 600;
  color: var(--primary-color-dark);
  
  
}
.h3{
  font-family: "Roboto Serif", serif;
  /* font-optical-sizing: auto; */
  font-weight: 600;
}
.contents {
  text-align: center;
  padding: 20px;
  z-index: 99;
}
.auto-type{
  color: var(--secondary-color);
    font-family: "Roboto Serif", serif;
    /* font-optical-sizing: auto; */
    font-weight: 800;
   font-size: 30px;
   z-index: 99;  
  }
.contents {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2em;
}

/**/


.section {
    background-color: var(--extra-light);
    overflow: hidden; 
    position: relative; 
}

.section_container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem;
    position: relative; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    opacity:0; 
    transform: translateX(-100%);
    transition: opacity 1.5s ease, transform 0.2s ease; 

}

.section .content {
    opacity: 2;
    transform: translateX(0); 
      /* transition: opacity 0.5s ease, transform 0.5s ease;  */
}
/* .section:hover .content{
  opacity: 0;
} */
 .image {
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    opacity: 1; 
    transition: opacity 0.5s ease; 

} 
.section:hover .image {
    opacity: 2; 
}
.action_btns a:hover{
  color: var(--extra-light);

}
.action_btns a{
  color: var(--primary-color-dark);
}
.icons{
  padding: 2rem 0 0 0;
  margin-left: 40px;
  }
  .ibt {
    display: flex;
    margin-top: 0.5rem;
    }
    .ibt a{
     
        width: 35px;
        height: 35px;
        border-radius: 10px;
        /* background: linear-gradient(45deg, #1abc9c, #149279); */
        background: linear-gradient(270deg,#a855f7,#9333ea);
        color: #fff;
        text-align: center;
        line-height: 35px;
        margin-right: 1.5rem;
        transition: 0.3s;
        font-size: 20px;
        padding: 5px;
        }
        /*  */
.we{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;         
    background:#9333ea;
    
  }
  
  .wrapper{
    margin-top: 60px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .h1 {
    transform: translateX(35rem);
    margin-bottom: 110px;
    text-align: center;
    margin-top: 50px;
    color: var(--extra-light);
    margin-top: -900px;
     /* Adjust as needed */
    font-size: 28px;
  }
  .wrapper .card{
    background: #fff;
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .wrapper .card .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
  }
  .card .circle .box,
  .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .card .circle .box{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
  .card .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
  }
  .card .circle .box span,
  .wrapper .card .text{
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
  }
  .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
  }
  .card .text{
    font-size: 20px;
    font-weight: 600;
  }
  /* projects page */
  .portfolio {
    padding: 20px;
    background-color:#ffffff;
  
  }

  .heading {
    text-align: center;
  }

  .protfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-box {
    margin: 10px;
    width: calc(33% - 40px); 
    position: relative;
  }

  .portfolio-box img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .eef{
    width: 700px;
    height: 200px;
  }

  .portfolio-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .portfolio-layer h4 {
 color: #faf5ff;
    font-size: 1.5rem;
    display: none;
  }

  .portfolio-box:hover .portfolio-layer {
    opacity: 1;
  }
  .eef{
    height: 50px;
  }
/* contact form */
.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(#ffdad5,#fff7f9);
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
 
}
.contact-left-title h2{
font-weight: 600;
color: #a363aa;
font-size: 40px;
margin-bottom: 5px;
}
.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;


}
.contact-inputs{
  width: 400px;
  border: none;
  outline: none;
  height: 50px;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;

}
.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus{
  border: 2px solid #a363aa;
}
.contact-inputs::placeholder{
  color: #a9a9a9;
}
.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg,#ff994f,#fa6d86);
}
.contact-left buttoon img{
  height: 15px;
}

.social-media {
padding: 2rem 0 0 0;
}

.social-media p {
color: #333;
}

.social-icons {
display: flex;
margin-top: 0.5rem;
}

.social-icons a {
width: 35px;
height: 35px;
border-radius: 3px;
/* background: linear-gradient(45deg, #1abc9c, #149279); */
background: linear-gradient(270deg,#ff994f,#fa6d86);
color: #fff;
text-align: center;
line-height: 35px;
margin-right: 1.5rem;
transition: 0.3s;
font-size: 20px;
}

.social-icons a:hover {
transform: scale(1.05);
}
.contact-right{
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;
order: -1;
}
.contact-right h2{
font-weight: 600;
color: #a363aa;
font-size: 40px;


}
.contact-right hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
  

}
.social-media a:hover {
color: #fff;
transform: scale(1.05);
}
.sp1{
font-size: 30px;
}
.h35{
font-size: 30px;
}
.info img{
height: 20px;
width: 20px;
}
.contact-right{
margin-right: 40px;
}
.information {
display: flex;
color: #555;
margin: 0.7rem 0;
align-items: center;
font-size: 0.95rem;
}
.text {
color: #333;
margin: 1.5rem 0 2rem 0;
}
.info p{

font-size: 18px;
font-family: "Roboto Serif", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
  "wdth" 100,
  "GRAD" 0;
}

  /* Media queries for responsiveness */
@media (max-width: 800px) {
.contact-container {
flex-direction: column;
align-items: center;
padding: 30px; 
height: 150vh;
}

.contact-left,
.contact-right {
width: 100%;
max-width: 400px; 
padding: 20px; 
}

.contact-left {
margin-top: 20px; 
background-color: #fff;
border-radius: 20px; 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contact-right {
order: -1; 
margin-bottom: 30px; 
text-align: center; 
}

.contact-inputs {
width: calc(100% - 60px); 
}

.contact-left button {
display: flex;
align-items: center;
padding: 15px 30px;
font-size: 16px;
color: #fff;
gap: 10px;
border: none;
border-radius: 50px;
background: linear-gradient(270deg,#ff994f,#fa6d86);
}
.social-icons {
justify-content: center; 
}

.social-icons a {
width: 40px; 
height: 40px; 
line-height: 40px; 
font-size: 24px; 
margin: 0 1.0rem;
}
.social-icons p{
font-size: 20px;
}
.information img{
width: 35px; 
height: 30px; 
}
.contact-left{
background: linear-gradient(#ffdad5,#fce4ea);
}
}

 
  @media screen and (max-width: 768px) {
    .portfolio-box {
      width: calc(50% - 20px);
    }
  }
  /*  */
    .me{
    color: var(--primary-color);
  }

  @media screen and (max-width: 768px) {
    .portfolio-box {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .portfolio-box {
      width: 100%;
    }
  
  }
  @media screen and (max-width: 380px) {
    .image img{
      width: min(25rem,90%);
      border-radius: 10%;
    }
  }
@media screen and (max-width: 750px) {
    nav .checkbox {
        display: block;
    }
    /*  */
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color:var(--primary-color);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
    /*  */

    ul {
        position: fixed; 
        width: 100%;
        top: 70px;
        height: 40%;
        left: 0;
        background-color: var(--extra-light);
        padding: 1rem 0;
        list-style: none;
        text-align: center;
        display: none; 
        z-index: 999; 
    }

    ul li {
        margin-bottom: 1rem;
    }

    ul li a {
        font-size: 1.25rem;
        text-decoration: none;
        color: var(--text-dark);
        padding: 0.5rem 1rem;
        border: 2px solid transparent;
        transition: color 0.3s, border-color 0.3s;
    }

    ul li a:hover {
        color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

    nav #check:checked ~ ul {
        display: flex; 
        flex-direction: column;
    }

    .section_container {
        padding-top: 160px; 
    }

    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1,1fr);

    }
    .content{
        grid-area: 1/1/2/2;
    }
    .action_btns{
        margin: auto;

    }
   
    ul {
        display: none;
        background-color: var(--extra-light);
        padding: 2rem 0;
        
    }
    
.image{
  margin-top: -150px;
}
.image img{
  width: min(55rem,90%);
  border-radius: 20%;
}
    ul li {
        text-align: center;
        margin-bottom: 1rem;
    } 

    
        .overlay-section {
                  
                z-index: 5; 
        }
        .icons{
       transform: translateX(70px);
        }

    }
        
    @media(max-width: 753px){
        .wrapper{
          max-width: 800px;
       
        }
        .wrapper .card{
          width: calc(50% - 10px);
          margin-bottom: 20px;
        }
        /* .h1 {
          
      
        font-size: 20px;
        transform: translateX(5rem);
        display: none; 
        color: red;

        
        } */
        .h1 {
          transform: translateX(-7rem);
          margin-bottom: 110px;
          text-align: center;
          /* margin-top: 50px;

       
          margin-top: -900px; */
          transform: translateY(-5rem);
           /* Adjust as needed */
          font-size: 20px;
      display: none;
          color: #fa4299;
        }
      }
      @media(max-width: 505px){
        .wrapper{
          max-width: 500px;
        }
        .wrapper .card{
          width: 100%;
        }
        .h1 {
          transform: translateX(14rem);
        margin-top: -2100px;
        color:#ca8a04; 
        font-size: 30px;
         font-weight: 800;
         display: none;
       
        }
      }